:root {
	--bg-main: #ffffff;
	--text-main: #111111;
	--text-sub: #666666;
	--accent: #111111;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.hero-banner {
    width: 100%;
    height: 300px;
    background: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), 
                url('../images/sitemap.webp') no-repeat center/cover;
    display: flex;
    align-items: center;

    padding-top: 60px;
    box-sizing: border-box;
}

.hero-content {
    max-width: 1100px;
    margin: 0 auto;
    width: 100%;
    padding: 0 20px;
    margin-top: 50px;
}

.hero-content h1 {
    color: #fff;
    font-size: 36px;
    font-weight: 700;
}

.sitemap-section {
	padding: 140px 20px 120px;
}

.sitemap-container {
	max-width: 820px;
	margin: 0 auto;
}

.sitemap-eyebrow {
	font-size: 12px;
	letter-spacing: 3px;
	color: #999;
	margin-bottom: 12px;
	display: block;
}

.sitemap-title {
	font-size: 36px;
	font-weight: 700;
	margin-bottom: 50px;
}

.sitemap-group {
	margin-bottom: 40px;
}

.sitemap-group h2 {
	font-size: 18px;
	margin-bottom: 12px;
}

.sitemap-group a {
	display: block;
	font-size: 15px;
	color: var(--text-sub);
	text-decoration: none;
	margin-bottom: 6px;
	transition: 0.2s;
}

.sitemap-group a:hover {
	color: var(--text-main);
}

@media (max-width: 768px) {

	.sitemap-section {
		padding: 120px 20px 80px;
	}

	.sitemap-title {
		font-size: 28px;
		margin-bottom: 36px;
	}
}